// Fonts
@import '@fontsource/poppins';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import '@theme/kalles/assets/css/font-icon.min.css';
@import '@theme/kalles/assets/css/reset.css';
@import '@theme/kalles/assets/css/defined.css';
@import '@theme/kalles/assets/css/base.css';
@import '@theme/kalles/assets/css/style.css';

// vue-multiselect
@import 'vue-multiselect/dist/vue-multiselect.css';
@import 'multiselect';

// custom
@import 'custom/modal.scss';
@import 'custom/bordered_table.scss';
@import 'custom/spinner';

@import 'vue_transition';

$font-family-sans-serif: Poppins, sans-serif;
$font-size-base: 0.875rem;

body {
  font-family: $font-family-sans-serif !important;
  font-size: $font-size-base;
}

.pr_lazy_img {
  height: fit-content !important;
}

.pointer {
  cursor: pointer;
}

.mb-xxl {
  margin-bottom: 10rem;
}

.round_true {
  border-radius: 40px;
  line-height: 2;
}
